/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#hero {
    height: 250px;
    width: 100%;
    background:url("../images/table-compressor.jpg");
    /*background-attachment: fixed;*/
    background-position: center center;
    background-size: cover;
    /*background-size: cover;*/
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
}

#dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 2;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding-top: 60px;
}

.heroText h1 {
    position: relative;
    z-index: 5;
    font-size: 50px;
    height: auto;
    color: #fff;
    font-weight: 500;
    font-family: 'billy_ohioregular', sans-serif;
    width: 500px;
}

.about-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    position: relative;
    z-index: 5;
    padding-top: 0px;
}

.hero-left {
    height: 3px;
    width: 40px;
    background: #fff;
}

.hero-mid-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #fff;
}

.hero-right {
    height: 3px;
    width: 40px;
    background: #fff;
}

/*-- -------------------------- -->
<---          DISCOVER          -->
<--- -------------------------- -*/

.discover-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.discover-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-bottom: 20px;
}

.discover-left h3 {
    font-family: 'billy_ohioregular', sans-serif;
    font-size: 17px;
}

.discover-left span {
    color: #000;
}

.discover-left svg {
    height: 10px;
}

.discover-left h3 {
    color: #C47625;
    font-size: 40px;
    font-weight: normal;
}

.discover-box {
    height: 230px;
    width: 110px;
    border: 7px solid rgba(230, 230, 230, .4);
    position: absolute;
}

.discover-right {
    position: relative;
    height: 400px;
}

.disc-top {
    position: absolute;
    top: 0;
    right: 20px;
}

.disc-under {
    position: relative;
    top: 50px;
}

.box {
    height: 100px;
    width: 150px;
    background: #C47625;
    opacity: .4;
    position: absolute;
    right: 70px;
    top: 15px;
}

/*-- -------------------------- -->
<---        ABOUT ICONS         -->
<--- -------------------------- -*/

.about-right-right {
    display: none;
}

#about-icon {
    height: auto;
    background:url("../images/cinnamon-compressor.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}

.icon-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .8;
}

.icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
}


.about-left h3 {
    text-align: center;
    color: #C47625;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.about-line {
    height: 2px;
    width: 80%;
    background: #C47625;
    margin: 15px auto;
}

.about-left p {
    text-align: center;
    color: #fff;
    width: 100%;
}

.about-left p:last-child {
    padding-bottom: 80px;
}

.about-right-top {
    padding-bottom: 50px;
    padding-top: 80px;
}


/*-- -------------------------- -->
<---          TOP BOX           -->
<--- -------------------------- -*/

.left-square-container {
    height: auto;
}

.left-square,
.b-right-square {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-square h4,
.b-right-square h4 {
    font-family: 'billy_ohioregular', sans-serif;
    font-size: 35px;
    font-weight: normal;
    color: #C47625;
    padding-top: 50px;
}

button.top-s {
    border-color: #000;
    color: #000;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 50px;
}

button.bottom-s {
    border-color: #000;
    color: #000;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 50px;
}

.right-square {
    width: 100%;
    height: 300px;
    background:url("../images/eggs-compressor.jpg");
    background-position: center center;
    background-size: cover;
    padding: 0;
}


.b-right-square-right {
    width: 100%;
    height: 300px;
    background:url("../images/french-toast-compressor.jpg");
    background-position: center center;
    background-size: cover;
    padding: 0;
    display: none;
}

.b-right-square-right-hidden {
    width: 100%;
    height: 300px;
    background:url("../images/french-toast-compressor.jpg");
    background-position: center center;
    background-size: cover;
    padding: 0;
}

/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/

.footer-flex {
    padding-top: 50px;
}

#footer {
    background: #231F20;
    position: relative;
}

.footer-item p {
    margin: 0;
    text-align: left;
    color: #999999
}

.footer-item img {
    margin: 0px 100% 30px 0;
    padding-top: 30px;
    float: left;
}

.footer-item h4 {
    font-size: 22px;
    color: #414141;
    text-align: left;
    margin-top: 40px;
    color: #fff;
}

.button-list a {
    text-decoration: none;
    margin-bottom: 15px;
    list-style: none;
    text-align: left;
    display: block;
}

.button-list a:hover {
    color: #E8E6E6;
}

.half-d-circle {
    height: 10px;
    width: 10px;
    background: #C47625;
    border-radius: 50%;
}

.half-d-line {
    width: 40px;
    height: 3px;
    background: #C47625;
    margin: 0;
}

.half-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 65px;
    margin-top: 10px;
}


.green {
    color: #C47625;
}

.footer-item:last-child {
    padding-bottom: 30px;
}

.branding a {
    text-decoration: none;
}

.branding a:hover {
    color: #C47625;
    opacity: .7;
}

.branding {
    height: 100px;
    text-align: center;
    background: #171717;
    padding-bottom: 50px;
}

.branding p {
    font-size: 13px;
    margin: 0;
}

p.b-margin {
    padding-top: 25px;
}

.footer-divider {
    margin-bottom: 10px;
}

ul {
    text-decoration: none;
    padding: 0;
}

.info-list li {
    color: #C47625;
    text-align: left;
    font-family: 'Lato', sans-serif;
    line-height: 1.6em;
}

.info-list li:hover {
    color: #fff;
    cursor: pointer;
}

@media screen and (min-width: 500px) and (max-width: 1024px) {

    #on-top li a.btn-close {
        font-size: 50px
    }

    #side-menu ul li a {
        font-size: 30px;
    }

    /*-- -------------------------- -->
    <---         DISCOVER           -->
    <--- -------------------------- -*/

    .discover-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 50px;
    }

    .discover-left {
        width: 350px;
    }

    .disc-top {
        right: -10px;
    }

    /*-- -------------------------- -->
    <---        ABOUT ICONS         -->
    <--- -------------------------- -*/

    #about-icon {
        height: auto;
    }

    .icons-container {
        max-width: 650px;
        margin: auto;
    }

    .about-left p,
    .about-left h3 {
        text-align: left;
    }

    .about-line {
        margin-left: 0;
    }

    /*-- -------------------------- -->
    <---         TOP SQUARE         -->
    <--- -------------------------- -*/

    #top-squares {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .left-squre-container {
        display: grid;
        grid-column: span 1;
    }

    .left-square {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 0;
        text-align: right;
        margin-right: 30px;
    }

    .right-square {
        grid-column: span 1;;
        height: auto;
    }

    .left-square h4 {
        text-align: right;
    }

    button.top-s {
        margin-left: auto;
    }

    /*-- -------------------------- -->
    <---       BOTTOM SQUARE        -->
    <--- -------------------------- -*/

    #bottom-square-section {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .b-left-square {
        grid-column: span 1;
    }

    .b-right-square-right {
        grid-column: span 1;
        display: block;
        height: auto;
    }

    .b-right-square,
    .b-right-square h4 {
        text-align: left;
        width: 250px;
    }

    button.bottom-s {
        margin: 10px auto 50px 0;
    }

    .b-cont {
        margin: 0 30px;
    }

    .b-right-square-right-hidden {
        display: none;
    }

    /*-- -------------------------- -->
    <---           FOOTER           -->
    <--- -------------------------- -*/

    .footer-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 550px;
        margin: auto;
    }

    .footer-item .half-divider {
        margin-left: 0;
    }

    .footer-item {
        width: 200px;
    }

    .footer-item img {
        width: 180px;
    }

    .footer-item h4 {
        margin-top: 40px;
    }


}

@media screen and (min-width: 1025px) {

    
    /*-- -------------------------- -->
    <---           HERO             -->
    <--- -------------------------- -*/

    #hero {
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    /*-- -------------------------- -->
    <---         DISCOVER           -->
    <--- -------------------------- -*/

    #discover {
        height: 600px;
    }

    .discover-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        height: 600px;
    }

    .discover-left {
        width: 450px;
    }

    .disc-top {
        right: -10px;
    }

    /*-- -------------------------- -->
    <---        ABOUT ICONS         -->
    <--- -------------------------- -*/

    #about-icon {
        height: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .icons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about-left h3 {
        text-align: left;
    }

    .about-line {
        margin-left: 0;
    }

    .about-left p {
        padding-bottom: 0 !important;
        text-align: left;
    }

    .about-right-top {
        display: none;
    }

    .about-right-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-left {
        max-width: 600px;
        padding: 180px 0;
    }

    .about-right-right img {
        width: 250px;
    }

    /*-- -------------------------- -->
    <---         TOP SQUARE         -->
    <--- -------------------------- -*/

    #top-squares {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 600px;
    }

    .left-squre-container {
        display: grid;
        grid-column: span 1;
    }

    .left-square {
        width: 450px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 0;
        text-align: right;
        margin-right: 60px;
    }

    .right-square {
        grid-column: span 1;
        height: auto;
    }

    .left-square h4 {
        text-align: right;
        font-size: 45px
    }

    .left-square p {
        font-size: 16px;
    }

    button.top-s {
        margin-left: auto;
    }

    button.top-s:hover {
        border: none;
        color: #fff;
        background: #C47625;
        cursor: pointer;
    }

    /*-- -------------------------- -->
    <---       BOTTOM SQUARE        -->
    <--- -------------------------- -*/

    #bottom-square-section {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 600px;
    }

    .b-left-square {
        grid-column: span 1;
    }

    .b-right-square-right {
        grid-column: span 1;
        display: block;
        height: auto;
    }

    .b-right-square,
    .b-right-square h4 {
        text-align: left;
        width: 450px;
    }

    .b-right-square {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .b-right-square h4 {
        padding-top: 0px;
        font-size: 45px;
    }

    .b-right-square p {
        font-size:  16px;
    }

    button.bottom-s {
        margin: 10px auto 0 0;
    }

    button.bottom-s:hover {
        border: none;
        color: #fff;
        background: #C47625;
        cursor: pointer;
    }

    .b-cont {
        margin: 0 60px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .b-right-square-right-hidden {
        display: none;
    }

    /*-- -------------------------- -->
    <---           FOOTER           -->
    <--- -------------------------- -*/

    #footer {
        top: 0;
    }

    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    .footer-item img {
        margin: 40px 50px 35px 0;
        padding: 0;
    }

    .footer-item {
        width: 20%;
    }

    .footer-item h4 {
        font-weight: 900;
    }

    .footer-item p {
        font-size: 15px;
    }

    .footer-line {
        width: 85%;
    }

    .branding {
        height: 100px;
        padding-bottom: 0;
    }

    .branding p {
        margin-bottom: 2px;
    }

}