/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#hero {
    height: 250px;
    width: 100%;
    background:url("../images/table-compressor.jpg");
    /*background-attachment: fixed;*/
    background-position: center center;
    background-size: cover;
    /*background-size: cover;*/
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
}

#dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 2;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding-top: 60px;
}

.heroText h1 {
    position: relative;
    z-index: 5;
    font-size: 50px;
    height: auto;
    color: #fff;
    font-weight: 500;
    font-family: 'billy_ohioregular', sans-serif;
    width: 500px;
}

.about-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    position: relative;
    z-index: 5;
    padding-top: 0px;
}

.hero-left {
    height: 3px;
    width: 40px;
    background: #fff;
}

.hero-mid-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #fff;
}

.hero-right {
    height: 3px;
    width: 40px;
    background: #fff;
}

/*-- -------------------------- -->
<---           MENU-1           -->
<--- -------------------------- -*/

.menu1-content {
    max-width: 1000px;
}

.menu-container h2 {
    padding-top: 70px;
}

.header-topper h2  {
    font-size: 40px;
}

.menu-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    position: relative;
    z-index: 5;
    padding: 10px 0;
    margin: auto;
}

.menu-left {
    height: 3px;
    width: 40px;
    background: #C47625;
}

.menu-mid-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #C47625;
}

.menu-right {
    height: 3px;
    width: 40px;
    background: #C47625;
}

.menu1-content {
    margin: 40px auto 0 auto;
    position: relative;
    z-index: 5;
}

.menu-item h3 {
    color: #C47625;
}

.menu-line {
    background: black;
    width: 70%;
    margin: 10px auto;
    height: 1px;
}

.menu-item {
    padding-bottom: 60px;
}

.price {
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    color: #000;
    font-family: 'Oswald', sans-serif;
}

/*-- -------------------------- -->
<---           MENU-2           -->
<--- -------------------------- -*/

#menu-2 {
    background:url("../images/menu-table-compressor.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}

.menu-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: .9;
}

/*-- -------------------------- -->
<---           MENU-4           -->
<--- -------------------------- -*/

#menu-4 {
    background:url("../images/cinnamon-compressor.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    height: auto;
}

.menu4-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: .95;
}

#menu-4 .menu-item:last-child {
    margin-bottom: 0;
    padding-bottom: 80px;
}

/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/

.footer-flex {
    padding-top: 50px;
}

#footer {
    background: #231F20;
    position: relative;
}

.footer-item p {
    margin: 0;
    text-align: left;
    color: #999999
}

.footer-item img {
    margin: 0px 100% 30px 0;
    padding-top: 30px;
    float: left;
}

.footer-item h4 {
    font-size: 22px;
    color: #414141;
    text-align: left;
    margin-top: 40px;
    color: #fff;
}

.button-list a {
    text-decoration: none;
    margin-bottom: 15px;
    list-style: none;
    text-align: left;
    display: block;
}

.button-list a:hover {
    color: #E8E6E6;
}

.green {
    color: #C47625;
}

.footer-item:last-child {
    padding-bottom: 30px;
}

.branding a {
    text-decoration: none;
}

.branding a:hover {
    color: #C47625;
    opacity: .7;
}

.branding {
    height: 100px;
    text-align: center;
    background: #171717;
    padding-bottom: 50px;
}

.branding p {
    font-size: 13px;
    margin: 0;
}

p.b-margin {
    padding-top: 25px;
}

.footer-divider {
    margin-bottom: 10px;
}

ul {
    text-decoration: none;
    padding: 0;
}

.info-list li {
    color: #C47625;
    text-align: left;
    font-family: 'Lato', sans-serif;
    line-height: 1.6em;
}

.info-list li:hover {
    color: #fff;
    cursor: pointer;
}

@media screen and (min-width: 500px) and (max-width: 1024px) {

    #on-top li a.btn-close {
        font-size: 50px
    }

    #side-menu ul li a {
        font-size: 30px;
    }

    /*-- -------------------------- -->
    <---           MENU-4           -->
    <--- -------------------------- -*/

    .menu1-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
    }

    .menu-item {
        width: 300px;
        position: relative;
    }

    .menu-item h3 {
        text-align: left;
    }

    .menu-line {
        margin-left: 0;
    }

    .menu-item p {
        text-align: left;
        width: 270px;
    }

    p.price {
        position: absolute;
        top: 0;
        right: 15px;
        width: auto;
    }

    /*-- -------------------------- -->
    <---           MENU-4           -->
    <--- -------------------------- -*/

    #menu-4 {
        height: auto;
    }

    .menu1-content {
        margin-bottom: 0;
    }

    /*-- -------------------------- -->
    <---           FOOTER           -->
    <--- -------------------------- -*/

    .footer-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 550px;
        margin: auto;
    }

    .footer-item .half-divider {
        margin-left: 0;
    }

    .footer-item {
        width: 200px;
    }

    .footer-item img {
        width: 180px;
    }

    .footer-item h4 {
        margin-top: 40px;
    }

}

@media screen and (min-width: 1025px) {


    /*-- -------------------------- -->
    <---           HERO             -->
    <--- -------------------------- -*/

    #hero {
        height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .menu-item p:last-child {
        font-size: 20px;
    }

    /*-- -------------------------- -->
    <---           MENU-2           -->
    <--- -------------------------- -*/

    #menu-2 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*-- -------------------------- -->
    <---           MENU-4           -->
    <--- -------------------------- -*/

    #menu-4 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu1-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
    }

    .menu-item {
        width: 300px;
        position: relative;
    }

    .menu-item h3 {
        text-align: left;
    }

    .menu-line {
        margin-left: 0;
    }

    .menu-item p {
        text-align: left;
        width: 270px;
    }

    p.price {
        position: absolute;
        top: 0;
        right: 15px;
        width: auto;
    }

    /*-- -------------------------- -->
    <---           MENU-4           -->
    <--- -------------------------- -*/

    #menu-4 {
        height: auto;
    }

    .menu1-content {
        margin-bottom: 0;
    }

    /*-- -------------------------- -->
    <---           FOOTER           -->
    <--- -------------------------- -*/

    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    .footer-item img {
        margin: 40px 50px 35px 0;
        padding: 0;
    }

    .footer-item {
        width: 20%;
    }

    .footer-item h4 {
        font-weight: 900;
    }

    .footer-item p {
        font-size: 15px;
    }

    .footer-line {
        width: 85%;
    }

    .branding {
        height: 100px;
        padding-bottom: 0;
    }

    .branding p {
        margin-bottom: 2px;
    }

}